body{
    background-color: lightcyan;
    text-align :center;
    margin-top: 5%;
}
.header{
    font-size: 25px;
    background-color: plum;
    border-radius: 10px;
    color: white;
    width: 60%;
    margin: auto;


}

.items{
    margin-top :30px;
    background-color: white;
    border-radius: 10px;
    width: 60%;
    text-align :center;
    margin: auto;
    height:80%;
    overflow: scroll;
}

.item{
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}
.btn{
    font-size: 20px;
    background-color: plum;
    border-radius: 10px;
}

.sel{
    text-align: center;
}

.inin{
    display: block;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    width: 60%;
    text-align :center;
    margin: auto;
}

.te{
    width: 60%;
    text-align: center;
    margin :auto;
    border-radius: 10px;
    background-color: plum;
}

.click{
    border-radius: 15px;
    background-color:black;
    color:white;
    font-size: 30px;
    font-weight: 40;
    
}