body {
  height: 100vh;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  background-color: #0094da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20%;
  font-size: 17px;
  padding: 10px;
  border-radius: 8px;
}

.number {
  background-color: white;
  text-align: center;
  width: 200px;
  margin-bottom: 20px;
  font-size: 25px;
}

.quiz {
  font-size: 25px;
  color: white;
}

.quiz_list {
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.qui {
  display: flex;
  align-items: center;
  width: 40%;
  background-color: #0094da;
  margin: 10px;
  transition: all 300ms ease;
  border-radius: 8px;
}

.qui:hover {
  transform: scale(1.1);
}

.qui_num {
  display: inline-block;
  font-size: 40px;
  padding: 10px;
  background-color: yellowgreen;
}

.qui_content {
  padding-left: 10px;
  color: white;
  font-size: 20px;
}

.next {
  font-size: 30px;
}

.pop_up {
  position: absolute;
  width: 700px;
  height: 300px;
  background-color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;

  background-color: burlywood;
}
.start_popup {
  position: absolute;
  width: 700px;
  height: 300px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;

  background-color: burlywood;
}

.pop_score,
.start_popup_comment {
  margin-bottom: 30px;
}

.replay:hover,
.start:hover {
  transform: scale(1.1);
}

.replay,
.start {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
  transition: all 300ms ease;
}

.pop_up_hide {
  display: none;
}
