:root {
  --color-mode: "light";
  --color-dark: black;
  --color-light: white;
  --background: white;
  --text-color: black;
}

body {
  background: var(--background);
  color: var(--text-color);
  transition: background 500ms ease-in-out, color 200ms ease;
}

.searching-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.search-box {
  font-size: 20px;
}

.results-section {
  margin-top: 3%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cat-card {
  display: flex;
  flex-direction: column;

  margin-left: calc((100% - (20% * 4)) / 4);

  width: 250px;
  height: 350px;
}

.card-image {
  height: 70%;
}
